/*about*/
.body {
    min-width: fit-content;
    padding-left: 20px;
    box-sizing: border-box;
}

.font-color {
    color: green;
}


.link {
    color: white;
    text-decoration: none;
}

.link:hover {
  text-decoration: none;
  color: white;
  background-color: green;
}

.side-box {
    background-color: black;
}
    
.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
.row:after {
    content: "";
    display: table;
    padding-top: 15px;
    padding-bottom: 15px;
  }

/*rewards*/

.p {
    text-align: justify;
}

/* .hrreward {
  border-top: 5px solid #000000 !important;
} */

.row-3 {
  border-style: solid;
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-left: none;
  border-right: none;
}
@media screen and (max-width: 900px) {
    .column  {
      width: 50%;
    }
  }
  
@media screen and (max-width: 600px) {
    .column  {
      width: 100%;
    }
  }