* {
    padding: 0px;
    margin: 0px;
}

@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/* index1 */

.index1 {
    min-width: auto;
    background-position: center;
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
    padding: 30px;
    background-image: url(/assets/img/erfan-starbucks-colabpic/landing1.jpg);
}

@media screen and (max-width: 600px) {
    .index1 {
        min-width: 100%;
        background-image: url(/assets/img/erfan-starbucks-colabpic/landing1\ responsive.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 600px;
    }
}

/* index2 */

.index2 {
    min-width: auto;
    background-position: center;
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
    padding: 30px;
    background-image: url(/assets/img/erfan-starbucks-colabpic/landing2.jpg);
}

@media screen and (max-width: 600px) {
    .index2 {
        min-width: 100%;
        background-image: url(/assets/img/erfan-starbucks-colabpic/landing2\ responsive.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 600px;
    }
}

/* index3 */

.indexmenu3 {
    background-image: url(/assets/img/erfan-starbucks-colabpic/landing\ 3.jpg);
    min-width: auto;
    background-position: center;
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    height: 500px;
}

.indexitem3 {
    justify-content: center;
}

.indextext3 {
    padding: 30px;
    justify-content: center;
    color: white;
    margin: 100px;
    
}

@media screen and (max-width: 600px) {
    .indexmenu3 {
        min-width: 100%;
        background-image: url(/assets/img/erfan-starbucks-colabpic/landing3\ responsive.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 400px;
    }
    .indextext3 {
        margin: 20px;
    }
}

/* index4 */
.indexmenu4 {
    background-image: url(/assets/img/erfan-starbucks-colabpic/landing4.jpg);
    min-width: auto;
    background-position: center;
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    height: 500px;
}

.indexitem4 {
    justify-content: center;
}

.indextext4 {
    padding: 30px;
    justify-content: center;
    color: white;
    margin: 100px;
    
}

@media screen and (max-width: 600px) {
    .indexmenu4 {
        min-width: 100%;
        background-image: url(/assets/img/erfan-starbucks-colabpic/landing4\ responsive.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 400px;
    }
    .indextext4 {
        margin: 20px;
    }
}
.indexmenu5 {
    background-image: url(/assets/img/erfan-starbucks-colabpic/landing5.jpg);
    min-width: auto;
    background-position: center;
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    height: 500px;
}

.indexitem5 {
    justify-content: center;
}

.indextext5 {
    padding: 30px;
    justify-content: center;
    color: white;
    margin: 100px;
    
}

@media screen and (max-width: 600px) {
    .indexmenu5 {
        min-width: 100%;
        background-image: url(/assets/img/erfan-starbucks-colabpic/landing5\ responsive.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 400px;
    }
    .indextext5  {
        margin: 20px;
    }
}