
* {
    padding: 0px;
    margin: 0px;
}
@media screen and (max-width: 900px) {
    .column  {
      width: 50%;
    }
  }
  
@media screen and (max-width: 600px) {
    .column  {
      width: 100%;
    }
  }
/* navbar */





/* navbar */

/* image1 */

.menuimg1 {
    background-image: url(/assets/img/erfan-starbucks-colabpic/menu\ background1.jpg);
    min-width: auto;
    background-position: center;
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    padding: 30px;
}
.menuitem1 {
    padding: 30px;
    justify-content: center ;
}
.menutext1 {
    padding: 30px;
    justify-content: center;
}


.menuimg2 {
    background-image: url(/assets/img/erfan-starbucks-colabpic/menu\ background2.jpg);
    min-width: auto;
    background-position: center;
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    padding: 30px;
}
.menuitem2 {
    padding: 30px;
    justify-content: center ;
}
.menutext2 {
    padding: 30px;
    justify-content: center;
    color: white;
}

.menuimg3 {
    background-image: url(/assets/img/erfan-starbucks-colabpic/menu\ background3.jpg);
    min-width: auto;
    background-position: center;
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    padding: 30px;
}
.menuitem3 {
    padding: 30px;
    justify-content: center ;
}
.menutext3 {
    padding: 30px;
    justify-content: center;
    color: white;
}
